.image-coord-field {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  border-radius: 3px;
}

.image-coord-field img {
  display: block;
  margin: 0;
}

.image-coord-field .grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background 0.1s ease;
}

.image-coord-field .grid .fpaim {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200%;
  height: 200%;
  pointer-events: none;
  background: radial-gradient(
    circle 80px at center center,
    rgb(191 201 209 / 0%) 33%,
    rgb(7 7 7 / 50%)
  );
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
  transition-property: top, left;
  transform: translate(-50%, -50%);
}

.image-coord-field .grid .fpaim::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  pointer-events: none;
  content: '';
  background: transparent
    url("data:image/svg+xml,%3Csvg width='11px' height='11px' viewBox='0 0 11 11' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Ecrosshair%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E%3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='crosshair'%3E %3Crect id='Rectangle' fill-opacity='0.75' fill='%23FFFFFF' x='4' y='0' width='3' height='11'%3E%3C/rect%3E %3Crect id='Rectangle-Copy' fill-opacity='0.75' fill='%23FFFFFF' x='0' y='4' width='11' height='3'%3E%3C/rect%3E %3Crect id='Rectangle-Copy-3' fill='%23000000' x='5' y='1' width='1' height='9'%3E%3C/rect%3E %3Crect id='Rectangle-Copy-2' fill='%23000000' x='1' y='5' width='9' height='1'%3E%3C/rect%3E %3C/g%3E %3C/g%3E %3C/svg%3E")
    no-repeat 50%;
  background-size: 100% 100%;
  transform: translate(-5px, -5px);
}

.image-coord-fieldgroup .field.form__fieldgroup-item {
  display: block;
}

.image-coord-fieldgroup.debug .field.form__fieldgroup-item {
  display: inline-block;
}

.image-settings-attrs-grid.grid.grid-field.ss-gridfield:not(
    .form-group--no-label
  )
  > .grid-field__table,
.image-settings-attrs-grid .table.grid-field__table {
  margin-top: 0 !important;
}

.cms-edit-form.image-editor,
.image-settings-attrs-grid {
  td.col-Title,
  td.col-Name {
    position: relative;
    color: transparent;
  }

  td.col-Title input,
  td.col-Name input {
    position: absolute;
    top: 50%;
    width: 90% !important;
    transform: translateY(-50%);
  }

  .col-FocusPointX,
  .col-FocusPointY {
    display: none;
  }

  th.main.col-FocusPoint,
  .has-warning.meta-editor-error-too-short,
  td.col-FocusPoint {
    width: 230px;
    text-align: center;
  }

  .col-action_SetOrderName button,
  .col-action_SetOrderTitle button {
    pointer-events: none;
    cursor: default;
  }

  .col-action_SetOrderName button::after,
  .col-action_SetOrderTitle button::after {
    display: none;
  }
}
